/*
node_modules
coc/extentions

!.gitignore
!/.config/
/.config/*
!/.config/bspwm/
!/.config/sxhkd/
!/.config/nvim/
!/.config/kitty/
!/.config/picom/
!/.config/i3/
!/.config/polybar/
!/.config/rofi/
!/.zshrc
!/.p10k.zsh
